.key{
    width: 70px;
    height: 80px;
    background-color: #574a50;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-weight: 700;
        color: #ffffff;
    }
}