<div class="container-fluid main-bg">
<div class="row">
    <section class="header">
        <div class="col-md-4" style="display: flex; justify-content: flex-end;">
            <button type="button" class="btn btn-light">Light</button>
        </div>
        <div class="col-md-4" style="display: flex; justify-content: center;">
            <h1> YGO.ooo</h1>
        </div>
    
        <div class="col-md-4" style="display: flex; justify-content:flex-start;">
            <button type="button" class="btn btn-light">Light</button>
        </div>  
    </section>
</div>

<div class="row">
    <div class="col-12">
        <ng-content></ng-content>
    </div>
</div>
</div>

