.main-bg{
    background-color: #75686d;
    min-height: 100vh;
    min-width: 100%;
}

.header{
    display: flex;
    padding-bottom: 80px;
    padding-top: 32px;

    h1{
        color: #ffffff;
        font-weight: 700;
        
    }

    button{
        background-color: transparent;
        border-color: #a0969a;
        
    }
}